.beug{
    border: 1px bashed red;
}
.name{
    width: 50%;
}
.photo1{
    width: 130px;
    height: 130px;
}
body{
    background-image: url("2840\ \(1\).jpg") ;
    background-size: cover;
    font-size: 23px;
}
.j1{
    width: 300px;
}
.j2{
    width: 300px;
}
.j3{
    width: 300px;
}
.j4{
    width: 300px;
}
.j5{
    width: 300px;
}