.beug{
    border: 1px bashed red;
}
.photo1{
    width: 130px;
    height: 130px;
}
body{
    background-image: url("2840\ \(1\).jpg") ;
    background-size: cover;
}
.j1{
    width: 300px;
}
.j2{
    width: 100;
}